$supp-black: #26282A;
$supp-white: #ffffff;
$supp-brown-light: #D8C2A2;
$supp-brown-dark: #A89A8C;
$supp-gray-dark: #4F6E7F;
$supp-gray-light: #CDCFC5;
$supp-blue: #C1E2EB;

$breakpoints: (
  "small": 576px,
  "medium": 768px,
  "large": 992px,
  "xlarge": 1200px,
  "xxlarge": 1400px,
);